# ----------------------
# Archivos de sistema y temporales
# ----------------------
.DS_Store
Thumbs.db
*.swp
*.swo
*.log
*.tmp
*.bak

# ----------------------
# VSCode
# ----------------------
.vscode/
*.code-workspace

# ----------------------
# Build general 
# ----------------------
/build/
